@media (min-width: 800px) {
  p {
    text-align: justify;
  }
}

body {
  max-width: 1050px;
  margin: 0 auto 100px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}

p {
  padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
}

figure {
  &.right-side-image {
    img {
      max-width: 300px;
    }

    figcaption {
      text-align: center;
    }
  }

  &.logo {
        text-align: center;
        padding-top: 10em;
        padding-bottom: 10em;
        img {
          width: 80%;
          max-width: 300px;
        }
  }
}
