.right-side-image {
  img {
    max-width: 400px;
  }

  figcaption {
    text-align: center;
  }
}

.notesTable {
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 4em;
  align-items: start;
  font-size: small;

  h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center;
  }

  .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray;
  }
}

figure.logo {
      text-align: center;
      padding-top: 10em;
      padding-bottom: 10em;
      img {
        width: 80%;
        max-width: 600px;
      }
}
