#mainMenuWrapper{
  height: 5em;
  position: fixed;
  top: 0;
  max-width: 1050px;
  width:100%;
  z-index: 2;
    &:hover {
      #mainMenu {
          line-height: 6em;
    }
  }
}

#mainMenu {
  display: flex;
  position: relative;
  top: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  line-height: 2em;
  font-size: small;
  transition-duration: 0.15s;

  .menuItem {
    color: black;
    width: 100%;
    align-self: center;
    text-align: center;
  }

  .menuSelected {
    color: white;
    background-color: #4F2683; //steelblue;
    box-shadow: 0 -1px 2px 0 rgba(1, 1, 1, 0.2);
  }
}
