.section {
  margin: auto;
  background-color: white;
  padding: 50px 30px 40px;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 800px) {
  .small-section {
    padding-top: 0px;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}

@media (max-width: 800px) {
  .small-section {
    padding-top: 100px;
  }
}

@media (max-width: 800px) {
  .two-column-responsive {
    flex-direction: column;
  }
}
@media (min-width: 800px) {
  .two-column-responsive {
    flex-direction: row;
  }
}

.two-column-responsive {
  display: flex;
  figure {
    align-self: center;
  }
}
