@import "mainMenu";
@import "index";
@import "hyperlinks";
@import "section";
@import "grids";
@media (min-width: 800px) {
  p {
    text-align: justify;
  }
}

body {
  max-width: 1050px;
  margin: 0 auto 100px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;
}

p {
  padding-bottom: 1em;
}


ul {
  margin: auto;
}

.python-generated {
  margin-top: 50px;

  ul {
    list-style-type: none;
  }
}

.quote {
  font-style: italic;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0;
}

.quote-ref {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif;
}
