@charset "UTF-8";
@media (min-width: 800px) {
  .small-section {
    padding-top: 0px;
    display: flex;
    align-items: center;
    min-height: 100vh; } }

@media (max-width: 800px) {
  .small-section {
    padding-top: 100px; } }

@media (max-width: 800px) {
  .two-column-responsive {
    flex-direction: column; } }

@media (min-width: 800px) {
  .two-column-responsive {
    flex-direction: row; } }

@media (min-width: 800px) {
  p {
    text-align: justify; } }


#mainMenuWrapper {
  height: 5em;
  position: fixed;
  top: 0;
  max-width: 1050px;
  width: 100%;
  z-index: 2; }
  #mainMenuWrapper:hover #mainMenu {
    line-height: 6em; }

#mainMenu {
  display: flex;
  position: relative;
  top: 0;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 2em;
  font-size: small;
  transition-duration: 0.15s; }
  #mainMenu .menuItem {
    color: black;
    width: 100%;
    align-self: center;
    text-align: center; }
  #mainMenu .menuSelected {
    color: white;
    background-color: steelblue;
    box-shadow: 0 -1px 2px 0 rgba(1, 1, 1, 0.2); }

body {
  max-width: 1050px;
  margin: 0 auto 100px;
  line-height: 2;
  font-family: 'Roboto', sans-serif;}

p {
  padding-bottom: 1em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif; }

figure.right-side-image img {
  max-width: 300px; }

figure.right-side-image figcaption {
  text-align: center; }

figure.logo {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em; }
  figure.logo img {
    width: 80%;
    max-width: 300px; }

a {
  text-decoration: none;
  color: peru; }
  a:link {
    color: forestgreen; }
  a:hover {
    color: crimson; }

.section {
  margin: auto;
  background-color: white;
  padding: 150px 30px 40px;
  overflow-y: auto;
  min-height: 100vh;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

.two-column-responsive {
  display: flex; }
  .two-column-responsive figure {
    align-self: center; }

table.alternate_color tr:nth-child(odd){
   background-color: #f6f8fa;
}

td {
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
}
