@charset "UTF-8";
#mainMenuWrapper {
  height: 5em;
  position: fixed;
  top: 0;
  max-width: 1050px;
  width: 100%;
  z-index: 2; }
  #mainMenuWrapper:hover #mainMenu {
    line-height: 6em; }

#mainMenu {
  display: grid;
  position: relative;
  top: 0;
  z-index: 2;
  background-color: white;
  font-size: small;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto Slab', sans-serif;
  grid-template-columns: auto auto auto auto;
  line-height: 2em;
  transition-duration: 0.15s;
  z-index: 3; }
  #mainMenu .menuItem {
    color: black;
    width: 100%;
    align-self: center;
    text-align: center; }
  #mainMenu .menuSelected {
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    background-color: steelblue;
    box-shadow: 0 -1px 2px 0 rgba(1, 1, 1, 0.2); }

.right-side-image img {
  max-width: 300px; }

.right-side-image figcaption {
  text-align: center; }

.notesTable {
  display: grid;
  grid-template-columns: 18ex 1fr;
  line-height: 1.25;
  grid-row-gap: 4em;
  align-items: start;
  font-size: small; }
  .notesTable h3 {
    margin: 0;
    padding: 0.5em;
    align-self: center; }
  .notesTable .nestedGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: start;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding: 0.5em;
    border-left: 2px solid lightgray; }

figure.logo {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em; }
  figure.logo img {
    width: 80%;
    max-width: 600px; }

a {
  text-decoration: none;
  color: peru; }
  a:link {
    color: forestgreen; }
  a:hover {
    color: crimson; }

.external-link {
  position: relative; }
  .external-link:hover::after {
    content: '➚';
    position: absolute;
    top: -0.75em; }

.section {
  margin: auto;
  background-color: white;
  padding: 50px 30px 40px;
  overflow-y: auto;
  min-height: 100vh; }

@media (min-width: 800px) {
  .small-section {
    padding-top: 0px;
    display: flex;
    align-items: center;
    min-height: 100vh; } }

@media (max-width: 800px) {
  .small-section {
    padding-top: 100px; } }

#research div::after {
  content: "";
  background: url("code/images/research.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

@media (max-width: 800px) {
  .two-column-responsive {
    display: grid;
    grid-template-columns: auto; }
    .two-column-responsive figure {
      text-align: center; } }

@media (min-width: 800px) {
  .two-column-responsive {
    display: grid;
    grid-template-columns: minmax(500px, auto) auto;
    width: 100%; }
    .two-column-responsive figure {
      align-self: center; }
    .two-column-responsive .column1 {
      width: 100%; } }

@media (min-width: 800px) {
  p {
    text-align: justify; } }

body {
  max-width: 1050px;
  margin: 0 auto 100px;
  line-height: 2;
  font-family: 'Roboto', sans-serif; }

p {
  padding-bottom: 1em; }

ul {
  margin: auto; }

.python-generated {
  margin-top: 50px; }
  .python-generated ul {
    list-style-type: none; }

.quote {
  font-style: italic;
  text-align: right;
  padding-bottom: 0;
  margin-bottom: 0; }

.quote-ref {
  text-align: right; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', sans-serif; }
